@inject NewsletterSubscriberProvider Provider

@if (NewsletterSubscribers?.Count() > 0)
{
    <ul class="list-unstyled">
        @foreach (var sub in NewsletterSubscribers)
        {
            <li>@sub.Email</li>
        }
    </ul>
}

@code {
    [Parameter]
    public bool IsHttpRequest { get; set; }
    
    [Parameter]
    public bool ForceFetch { get; set; }
    
    [Parameter]
    public IEnumerable<NewsletterSubscriberResponse>? StoredSubscribers { get; set; }

    private IEnumerable<NewsletterSubscriberResponse>? NewsletterSubscribers { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (IsHttpRequest)
        {
            await Provider.InitNewsletterSubscribers(ForceFetch);
            NewsletterSubscribers = Provider.NewsletterSubscribers;
        }
        else if (!IsHttpRequest && StoredSubscribers != null)
        {
            NewsletterSubscribers = StoredSubscribers;
        }
    }
}